.vs/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/CL.command.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/Cl.items.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/CL.read.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/CL.write.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/link.command.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/link.read.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/link.secondary.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/link.write.1.tlog
opengl-stencil-buffer/Debug/opengl-s.c206ed88.tlog/opengl-stencil-buffer.lastbuildstate
opengl-stencil-buffer/Debug/opengl-stencil-buffer.exe.recipe
opengl-stencil-buffer/Debug/opengl-stencil-buffer.log
